<h3 class="ui header">{{t "forms.i-i-s-h-h-h-заяв-на-стр-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-h-h-h-заяв-на-стр-e.номер-caption")
      data-test-i-i-s-h-h-h-заяв-на-стр-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.срокСтр
      class=(if (v-get validationModel "срокСтр" "isInvalid") "error")
      label=(t "forms.i-i-s-h-h-h-заяв-на-стр-e.срокСтр-caption")
      data-test-i-i-s-h-h-h-заяв-на-стр-e-срокСтр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "срокСтр" "message")}}
  </div>
  <div class="field" data-test-i-i-s-h-h-h-заяв-на-стр-e-видСтр="true">
    <label>{{t "forms.i-i-s-h-h-h-заяв-на-стр-e.видСтр-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-h-h-h-виды-стр")
      value=model.видСтр
      class=(if (v-get validationModel "видСтр" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "видСтр" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.суммаСтр
      class=(if (v-get validationModel "суммаСтр" "isInvalid") "error")
      label=(t "forms.i-i-s-h-h-h-заяв-на-стр-e.суммаСтр-caption")
      data-test-i-i-s-h-h-h-заяв-на-стр-e-суммаСтр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "суммаСтр" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-h-h-h-заяв-на-стр-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-h-h-h-заяв-на-стр-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-h-h-h-заяв-на-стр-e.клиент-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.клиент
      displayAttributeName="фИО"
      autocomplete=true
      relationName="клиент"
      projection="КлиентL"
      title=(t "forms.i-i-s-h-h-h-заяв-на-стр-e.клиент-caption")
      readonly=readonly
      componentName="клиентLookup"
      class=(if (v-get validationModel "клиент" "isInvalid") "error")
      data-test-i-i-s-h-h-h-заяв-на-стр-e-клиент=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "клиент" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-h-h-h-заяв-на-стр-e.сотрудники-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудники
      displayAttributeName="фИО"
      autocomplete=true
      relationName="сотрудники"
      projection="СотрудникиL"
      title=(t "forms.i-i-s-h-h-h-заяв-на-стр-e.сотрудники-caption")
      readonly=readonly
      componentName="сотрудникиLookup"
      class=(if (v-get validationModel "сотрудники" "isInvalid") "error")
      data-test-i-i-s-h-h-h-заяв-на-стр-e-сотрудники=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудники" "message")}}
  </div>
</form>
